<mat-toolbar color="primary">
  <div>Timer</div>
  <div class="spacer"></div>
  <span>Dark Theme&nbsp;&nbsp;</span>
  <mat-checkbox [(ngModel)]="isDarkTheme"></mat-checkbox>
</mat-toolbar>
<div class="page-content" [ngClass]="isDarkTheme ? 'dark-theme' : ''" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <mat-card fxFlex="33%">
    <ng-timer-input [name]="name"></ng-timer-input>
  </mat-card>
  <mat-card fxFlex="33%">
    <ng-timer-controls [name]="name"></ng-timer-controls>
  </mat-card>
  <mat-card fxFlex="33%">
    <ng-timer [name]="name"></ng-timer>
  </mat-card>
<div>
